{% extends "global_layout.html" %}
{% block content %}
<div class="container" id="row-container">
    {% include "flash_messages.html" %}
    <div class="row" id="row">

        <div class="col-md-4">
            <form name= "Delete a deliverable" action ="{{url_for('deldel') }}" method="POST">

	     <div>
		 <select id ="del_id" name = "del_id"> <option selected disabled>
		 Choose deliverable's id </option>
			{% for did in delids %}
			<option value = "{{did.del_id}}">{{did.del_id}}</option>
			{% endfor %}
			</select>

		</div>
		<button type="submit">Submit</button>
	     </form>
        </div>
</div>
</div>

{% endblock content %}