{% extends "global_layout.html" %}
{% block content %}

<div class="container" id="row-container">
    {% include "flash_messages.html" %}
    <div class="row" id="row">
         <div class="col-md-4">
            <div class="card" id="card-container-layout">
                <div class="card-body" id="card">
                    <h4 class="card-title">Insert an executive</h4>
                    <p class="card-text" id="paragraph">Insert an executive<br></p>
                    <a class="btn btn-primary" id="show-btn" href="/executives/insert">Insert</a>
                </div>
            </div>
        </div>

 	 <div class="col-md-4">
            <div class="card" id="card-container-layout">
                <div class="card-body" id="card">
                    <h4 class="card-title">Delete an executive</h4>
                    <p class="card-text" id="paragraph">Delete an executive<br></p>
                    <a class="btn btn-primary" id="show-btn" href="/executives/delete">Delete</a>
                </div>
            </div>
        </div>

	<div class="col-md-4">
            <div class="card" id="card-container-layout">
                <div class="card-body" id="card">
                    <h4 class="card-title">Update an executive</h4>
                    <p class="card-text" id="paragraph">Update an executive<br></p>
                    <a class="btn btn-primary" id="show-btn" href="/executives/update">Update</a>
                </div>
            </div>
        </div>
</div>
</div>

<div class="container">
    {% include "flash_messages.html" %}
    <div class="row" id="row">
        <div class="col-md-12">
            <div class="card" id="card-container">
                <div class="card-body" id="card">
                {% if executives|length == 0 %}
                    <h1 style="margin-top: 5rem;">Not any executives found!</h1>
                {% else %}
                    <div class="table-responsive">
                        <table class="table">
                            <thead>
        <tr> <!--row of cells in a table-->
            <th>ID</th> <!--td:a cell of a table that contains data-->
            <th>Name</th>
        </tr>
        </thead> <!--used with tbody, tfoot to specify each part of a table-->
        <tbody>
        {% for executive in executives %}
        <tr class="customer-row">
            <td>{{ executive.executive_id }}</td>
            <td>{{ executive.ename }}</td>
        </tr>
        {% endfor %}
      </tbody>
  </table>
</div>
{% endif %}
</div>
</div>
</div>
</div>
</div>

{% endblock content %}
