{% extends "global_layout.html" %}
{% block content %}

<div class="container" id="row-container">
    {% include "flash_messages.html" %}
    <div class="row" id="row">
         <div class="col-md-4">
            <div class="card" id="card-container-layout">
                <div class="card-body" id="card">
                    <h4 class="card-title">Insert an organisation</h4>
                    <p class="card-text" id="paragraph">Insert an organisation<br></p>
                    <a class="btn btn-primary" id="show-btn" href="/organisations/insert">Insert</a>
                </div>
            </div>
        </div>

 	 <div class="col-md-4">
            <div class="card" id="card-container-layout">
                <div class="card-body" id="card">
                    <h4 class="card-title">Delete an organisation</h4>
                    <p class="card-text" id="paragraph"Delete an organisation<br></p>
                    <a class="btn btn-primary" id="show-btn" href="/organisations/delete">Delete</a>
                </div>
            </div>
        </div>

	<div class="col-md-4">
            <div class="card" id="card-container-layout">
                <div class="card-body" id="card">
                    <h4 class="card-title">Update an organisation</h4>
                    <p class="card-text" id="paragraph">Update an organisation<br></p>
                    <a class="btn btn-primary" id="show-btn" href="/organisations/update">Update</a>
                </div>
            </div>
        </div>
</div>
</div>

<div class="container">
    {% include "flash_messages.html" %}
    <div class="row" id="row">
        <div class="col-md-12">
            <div class="card" id="card-container">
                <div class="card-body" id="card">
                {% if organisations|length == 0 %}
                    <h1 style="margin-top: 5rem;">Not any organisations found!</h1>
                {% else %}
                    <div class="table-responsive">
                        <table class="table">
                            <thead>
        <tr> <!--row of cells in a table-->
            <th>ID</th> <!--td:a cell of a table that contains data-->
            <th>Name</th>
            <th>Abbreviation</th>
            <th>Postal_Code</th>
            <th>Street</th>
            <th>Town</th>
        </tr>
        </thead> <!--used with tbody, tfoot to specify each part of a table-->
        <tbody>
        {% for organisation in organisations %}
        <tr class="customer-row">
            <td>{{ organisation.organisation_id }}</td>
            <td>{{ organisation.organisation_name }}</td>
            <td>{{ organisation.abbreviation }}</td>
            <td>{{ organisation.postal_code }}</td>
            <td>{{ organisation.street }}</td>
            <td>{{ organisation.town }}</td>
        </tr>
        {% endfor %}
      </tbody>
  </table>
</div>
{% endif %}
</div>
</div>
</div>
</div>
</div>

{% endblock content %}
