{% extends "global_layout.html" %}
{% block content %}

<div class="container" id="row-container">
    {% include "flash_messages.html" %}
    <div class="row" id="row">
         <div class="col-md-4">
            <div class="card" id="card-container-layout">
                <div class="card-body" id="card">
                    <h4 class="card-title">Insert a telephone for an organisation</h4>
                    <p class="card-text" id="Insert a telephone for an organisation></p>
                    <a class="btn btn-primary" id="show-btn" href="/organisations_telephones/insert">Insert</a>
                </div>
            </div>
        </div>

 	 <div class="col-md-4">
            <div class="card" id="card-container-layout">
                <div class="card-body" id="card">
                    <h4 class="card-title">Delete a telephone for an organisation</h4>
                    <p class="card-text" id="Delete a telephone for an organisation></p>
                    <a class="btn btn-primary" id="show-btn" href="/organisations_telephones/delete">Delete</a>
                </div>
            </div>
        </div>

	<div class="col-md-4">
            <div class="card" id="card-container-layout">
                <div class="card-body" id="card">
                    <h4 class="card-title">Update a telephone for an organisation</h4>
                    <p class="card-text" id="Update a telephone for an organisation></p>
                    <a class="btn btn-primary" id="show-btn" href="/organisations_telephones/update">Update</a>
                </div>
            </div>
        </div>
</div>
</div>

<div class="container">
    {% include "flash_messages.html" %}
    <div class="row" id="row">
        <div class="col-md-12">
            <div class="card" id="card-container">
                <div class="card-body" id="card">
                {% if organisations_telephones|length == 0 %}
                    <h1 style="margin-top: 5rem;">Not any telephones of organisations found!</h1>
                {% else %}
                    <div class="table-responsive">
                        <table class="table">
                            <thead>
        <tr> <!--row of cells in a table-->
            <th>ID</th> <!--td:a cell of a table that contains data-->
            <th>Telephone</th>
        </tr>
        </thead> <!--used with tbody, tfoot to specify each part of a table-->
        <tbody>
        {% for organisation_telephones in organisations_telephones %}
        <tr class="customer-row">
            <td>{{ organisation_telephones.ot_organisation_id }}</td>
            <td>{{ organisation_telephones.telephone }}</td>
        {% endfor %}
      </tbody>
  </table>
</div>
{% endif %}
</div>
</div>
</div>
</div>
</div>

{% endblock content %}
