{% extends "global_layout.html" %}
{% block content %}
<div class="container" id="row-container">
    {% include "flash_messages.html" %}
    <div class="row" id="row">

        <div class="col-md-4">
            <form name= "Delete an organisation" action ="{{url_for('delorg') }}" method="POST">

	     <div>
		 <select id ="organisation_id" name = "organisation_id"> <option selected disabled>
		 Choose organisation's id </option>
			{% for orgid in orgids %}
			<option value = "{{orgid.organisation_id}}">{{orgid.organisation_id}} </option>
			{% endfor %}
			</select>

		</div>
		<button type="submit">Submit</button>
	     </form>
        </div>
</div>
</div>

{% endblock content %}