{% extends "global_layout.html" %}
{% block content %}
<div class="container" id="row-container">
    {% include "flash_messages.html" %}
    <div class="row" id="row">

        <div class="col-md-4">
            <form name= "Enter a new program" action ="{{url_for('insprog') }}" method="POST">

		<div>
		 <label for="program_name">Enter the program's name:
            </label><br>
	      <input type="text" name="program_name" placeholder="Enter program name">
		</div>

    <div>
     <label for="administration">Enter the program's administration:
            </label><br>
        <input type="text" name="administration" placeholder="Enter administration">
    </div>

		</div>
		<button type="submit">Submit</button>
	     </form>
        </div>
</div>
</div>

{% endblock content %}
