{% extends "global_layout.html" %}
{% block content %}
<div class="container" id="row-container">
    {% include "flash_messages.html" %}
    <div class="row" id="row">

        <div class="col-md-4">
            <form name= "Delete a program" action ="{{url_for('delprog') }}" method="POST">

	     <div>
		 <select id ="program_id" name = "program_id"> <option selected disabled>
		 Choose program's id </option>
			{% for progid in progids %}
			<option value = "{{progid.program_id}}">{{progid.program_id}} </option>
			{% endfor %}
			</select>

		</div>
		<button type="submit">Submit</button>
	     </form>
        </div>
</div>
</div>

{% endblock content %}