{% extends "global_layout.html" %}
{% block content %}
<div class="container" id="row-container">
  {% include "flash_messages.html" %}
  <div class="row" id="row">

    <div class="col-md-4">
      <form name= "Enter a new project" action ="{{url_for('insproj') }}" method="POST">

        <div>
          <label for="proj_title">Enter the project's title:
          </label><br>
          <input type="text" name="proj_title" placeholder="Enter title">
        </div>

        <div>
          <label for="proj_amount">Enter the project's monetary amount:
          </label><br>
          <input type="text" name="proj_amount" placeholder="Enter amount">
        </div>

        <div>
          <label for="summary">Enter the project's summary:
          </label><br>
          <input type="text" name="summary" placeholder="Enter summary">
        </div>

        <div>
          <label for="start_date">Enter the project's start date in the format of year-month-day:
          </label><br>
          <input type="text" name="start_date" placeholder="Enter start date">
        </div>

        <div>
          <label for="expiry_date">Enter the project's expiry date in the format of year-month-day:
          </label><br>
          <input type="text" name="expiry_date" placeholder="Enter expiry date">
        </div>

        <div>
          <label for="evaluation_grade">Enter the project's evaluation grade:
          </label><br>
          <input type="text" name="evaluation_grade" placeholder="Enter evaluation grade">
        </div>

        <div>
          <label for="evaluation_date">Enter the project's evaluation date in the format of year-month-day:
          </label><br>
          <input type="text" name="evaluation_date" placeholder="Enter evaluation date">
        </div>

        <div>
          <select id ="proj_executive_id" name = "proj_executive_id"> <option selected disabled>
            Choose project's executive's ID </option>
            {% for execid in execids %}
            <option value = "{{execid.executive_id}}">{{execid.executive_id}}</option>
            {% endfor %}
          </select>

          <div>
            <select id ="proj_organisation_id" name = "proj_organisation_id"> <option selected disabled>
              Choose project's organisations's ID </option>
              {% for orgid in orgids %}
              <option value = "{{orgid.organisation_id}}">{{orgid.organisation_id}}</option>
              {% endfor %}
            </select>

            <div>
              <select id ="scientific_officer_id" name = "scientific_officer_id"> <option selected disabled>
                Choose project's scientific officer's ID </option>
                {% for scid in scids %}
                <option value = "{{scid.researcher_id}}">{{scid.researcher_id}}</option>
                {% endfor %}
              </select>

              <div>
                <select id ="evaluator_id" name = "evaluator_id"> <option selected disabled>
                  Choose project's evaluator's ID </option>
                  {% for evid in evids %}
                  <option value = "{{evid.researcher_id}}">{{evid.researcher_id}}</option>
                  {% endfor %}
                </select>

                <div>
                  <select id ="program_id" name = "program_id"> <option selected disabled>
                    Choose project's program's ID </option>
                    {% for progid in progids %}
                    <option value = "{{progid.program_id}}">{{progid.program_id}}</option>
                    {% endfor %}
                  </select>

                </div>
                <button type="submit">Submit</button>
              </form>
            </div>
          </div>
        </div>

        {% endblock content %}
