{% extends "global_layout.html" %}
{% block content %}

<div class="container" id="row-container">
    {% include "flash_messages.html" %}
    <div class="row" id="row">
         <div class="col-md-4">
            <div class="card" id="card-container-layout">
                <div class="card-body" id="card">
                    <h4 class="card-title">Insert a project</h4>
                    <p class="card-text" id="paragraph"<Insert a project<br></p>
                    <a class="btn btn-primary" id="show-btn" href="/projects/insert">Insert</a>
                </div>
            </div>
        </div>

 	 <div class="col-md-4">
            <div class="card" id="card-container-layout">
                <div class="card-body" id="card">
                    <h4 class="card-title">Delete a project</h4>
                    <p class="card-text" id="paragraph"<Delete a project<br></p>
                    <a class="btn btn-primary" id="show-btn" href="/projects/delete">Delete</a>
                </div>
            </div>
        </div>

	<div class="col-md-4">
            <div class="card" id="card-container-layout">
                <div class="card-body" id="card">
                    <h4 class="card-title">Update a project</h4>
                    <p class="card-text" id="paragraph"<Update a project<br></p>
                    <a class="btn btn-primary" id="show-btn" href="/projects/update">Update</a>
                </div>
            </div>
        </div>
</div>
</div>

<div class="container">
    {% include "flash_messages.html" %}
    <div class="row" id="row">
        <div class="col-md-12">
            <div class="card" id="card-container">
                <div class="card-body" id="card">
                {% if projects|length == 0 %}
                    <h1 style="margin-top: 5rem;">Not any projects found!</h1>
                {% else %}
                    <div class="table-responsive">
                        <table class="table">
                            <thead>
                                <tr>
                                    <th>ID</th>
                                    <th>Title</th>
                                    <th>Amount</th>
				                            <th>Summary</th>
                                    <th>Start_Date</th>
                                    <th>Expiry_Date</th>
                                    <th>Duration</th>
                                    <th>Evaluation_Grade</th>
                                    <th>Evaluation_Date</th>
                                    <th>Executive_ID</th>
                                    <th>Organisation_ID</th>
                                    <th>Scientific_Officer_ID</th>
                                    <th>Evaluator_ID</th>
                                    <th>Program_ID</th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for project in projects %}
                                    <tr>
                                        <td> {{ project.proj_id }} </td>
                                        <td> {{ project.proj_title }} </td>
                                        <td> {{ project.proj_amount }} </td>
					                              <td> {{ project.summary }} </td>
                                        <td> {{ project.start_date }} </td>
                                        <td> {{ project.expiry_date }} </td>
                                        <td> {{ project.duration }} </td>
                                        <td> {{ project.evaluation_grade }} </td>
                                        <td> {{ project.evaluation_date }} </td>
                                        <td> {{ project.proj_executive_id }} </td>
                                        <td> {{ project.proj_organisation_id }} </td>
                                        <td> {{ project.scientific_officer_id }} </td>
                                        <td> {{ project.evaluator_id }} </td>
                                        <td> {{ project.program_id }} </td>
                                    </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                    </div>
                {% endif %}
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock content %}
