{% extends "global_layout.html" %}
{% block content %}
<div class="container">
    {% include "flash_messages.html" %}
    <div class="row" id="row">
        <div class="col-md-12">
            <div class="card" id="card-container">
                <div class="card-body" id="card">
                {% if query6|length == 0 %}
                    <h1 style="margin-top: 5rem;">Not any companies found!</h1>
                {% else %}
                    <div class="table-responsive">
                        <table class="table">
                            <thead>
        <tr> <!--row of cells in a table-->
            <th>pr_researcher_id</th> <!--td:a cell of a table that contains data-->
            <th>projcount</th>
        </tr>
        </thead> <!--used with tbody, tfoot to specify each part of a table-->
        <tbody>
        {% for query6 in query6 %}
        <tr class="customer-row">
            <td>{{ query6.pr_researcher_id }}</td>
            <td>{{ query6.projcount }}</td>
        </tr>
        {% endfor %}
      </tbody>
  </table>
</div>
{% endif %}
</div>
</div>
</div>
</div>
</div>

{% endblock content %}
