{% extends "global_layout.html" %}
{% block content %}

<div class="container" id="row-container">
    {% include "flash_messages.html" %}
    <div class="row" id="row">
         <div class="col-md-4">
            <div class="card" id="card-container-layout">
                <div class="card-body" id="card">
                    <h4 class="card-title">Insert a researcher</h4>
                    <p class="card-text" id="paragraph">Insert a researcher<br></p>
                    <a class="btn btn-primary" id="show-btn" href="/researchers/insert">Insert</a>
                </div>
            </div>
        </div>

 	 <div class="col-md-4">
            <div class="card" id="card-container-layout">
                <div class="card-body" id="card">
                    <h4 class="card-title">Delete  a researcher</h4>
                    <p class="card-text" id="paragraph">Delete a researcher<br></p>
                    <a class="btn btn-primary" id="show-btn" href="/researchers/delete">Delete</a>
                </div>
            </div>
        </div>

	<div class="col-md-4">
            <div class="card" id="card-container-layout">
                <div class="card-body" id="card">
                    <h4 class="card-title">Update a researcher</h4>
                    <p class="card-text" id="paragraph">Update a researcher<br></p>
                    <a class="btn btn-primary" id="show-btn" href="/researchers/update">Update</a>
                </div>
            </div>
        </div>
</div>
</div>

<div class="container">
    {% include "flash_messages.html" %}
    <div class="row" id="row">
        <div class="col-md-12">
            <div class="card" id="card-container">
                <div class="card-body" id="card">
                {% if researchers|length == 0 %}
                    <h1 style="margin-top: 5rem;">Not any researchers found!</h1>
                {% else %}
                    <div class="table-responsive">
                        <table class="table">
                            <thead>
        <tr> <!--row of cells in a table-->
            <th>ID</th> <!--td:a cell of a table that contains data-->
            <th>First_Name</th>
            <th>Last_Name</th>
            <th>Sex</th>
            <th>Date_of_Birth</th>
            <th>Age</th>
            <th>Start_Date</th>
            <th>Town</th>
            <th>Organisation_ID</th>
        </tr>
        </thead> <!--used with tbody, tfoot to specify each part of a table-->
        <tbody>
        {% for researcher in researchers %}
        <tr class="customer-row">
            <td>{{ researcher.researcher_id }}</td>
            <td>{{ researcher.first_name }}</td>
            <td>{{ researcher.last_name }}</td>
            <td>{{ researcher.sex }}</td>
            <td>{{ researcher.date_birth }}</td>
            <td>{{ researcher.age }}</td>
            <td>{{ researcher.res_start_date}}</td>
            <td>{{ researcher.town}}</td>
            <td>{{ researcher.res_organisation_id}}</td>
        </tr>
        {% endfor %}
      </tbody>
  </table>
</div>
{% endif %}
</div>
</div>
</div>
</div>
</div>

{% endblock content %}
