{% extends "global_layout.html" %}
{% block content %}

<div class="container" id="row-container">
    {% include "flash_messages.html" %}
    <div class="row" id="row">
         <div class="col-md-4">
            <div class="card" id="card-container-layout">
                <div class="card-body" id="card">
                    <h4 class="card-title">Insert a project in a scientific field</h4>
                    <p class="card-text" id="paragraph">Insert a project in a scientific field<br></p>
                    <a class="btn btn-primary" id="show-btn" href="/scientific_fields_projects/insert">Insert</a>
                </div>
            </div>
        </div>

 	 <div class="col-md-4">
            <div class="card" id="card-container-layout">
                <div class="card-body" id="card">
                    <h4 class="card-title">Delete a project from a scientific field</h4>
                    <p class="card-text" id="paragraph">Delete a project from a scientific field<br></p>
                    <a class="btn btn-primary" id="show-btn" href="/scientific_fields_projects/delete">Delete</a>
                </div>
            </div>
        </div>

	<div class="col-md-4">
            <div class="card" id="card-container-layout">
                <div class="card-body" id="card">
                    <h4 class="card-title">Update a project in a scientific field r</h4>
                    <p class="card-text" id="paragraph">Update a project in a scientific field<br></p>
                    <a class="btn btn-primary" id="show-btn" href="/scientific_fields_projects/update">Update</a>
                </div>
            </div>
        </div>
</div>
</div>

<div class="container">
    {% include "flash_messages.html" %}
    <div class="row" id="row">
        <div class="col-md-12">
            <div class="card" id="card-container">
                <div class="card-body" id="card">
                {% if scientific_fields_projects|length == 0 %}
                    <h1 style="margin-top: 5rem;">Not any projects found in scientific field found!</h1>
                {% else %}
                    <div class="table-responsive">
                        <table class="table">
                            <thead>
        <tr> <!--row of cells in a table-->
            <th>Name</th> <!--td:a cell of a table that contains data-->
            <th>ID</th>
        </tr>
        </thead> <!--used with tbody, tfoot to specify each part of a table-->
        <tbody>
        {% for scientific_fields_projects in scientific_fields_projects %}
        <tr class="customer-row">
            <td>{{ scientific_fields_projects.sfp_scientific_field_name }}</td>
            <td>{{ scientific_fields_projects.sfp_proj_id }}</td>
        </tr>
        {% endfor %}
      </tbody>
  </table>
</div>
{% endif %}
</div>
</div>
</div>
</div>
</div>

{% endblock content %}
